.flashcard-set-wrapper {
    // perspective: 1000px;
}

.flashcard-set-slides {
    display: flex;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.flashcard-set-slides > * {
    flex: 0 0 100%;
    padding: 0 10px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform 0.3s ease;
}

.flashcard-set-slides > *:nth-child(${currentSlide + 1}) {
    transform: rotateY(0deg);
}

.flashcard-set-slides > *:not(:nth-child(${currentSlide + 1})) {
    transform: rotateY(180deg);
} 