// Make this button rounded and and floating style with shadow
.smfcs-flashcard-flip-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
