/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-smart-flashcards {
	border: 1px dotted #f00;
	background-color: #090;
	color: #fff !important;
	padding: 20px;
}